<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/stylesheets/gameRoom.css">
</head>
<body>
  <div class="container">
    <div class="players">
      <div class="player">
        <img src="/images/character_A.png" alt="Player 1" class="player-image">
        <div class="player-name">Player1</div>
      </div>
      <div class="player">
        <img src="/images/character_B.png" alt="Player 2" class="player-image">
        <div class="player-name">Player2</div>
      </div>
      <div class="player">
        <img src="/images/character_C.png" alt="Player 3" class="player-image">
        <div class="player-name">Player3</div>
      </div>
      <div class="player">
        <img src="/images/character_D.png" alt="Player 4" class="player-image">
        <div class="player-name">Player4</div>
      </div>
    </div>

    <div class="question-container">
      <div class="question" id="question-text"></div>
      <div class="choices" id="choices"></div> <!-- 보기 컨테이너 추가 -->
    </div>

    <div class="second_container">
      <div class="chat">
        <div class="chat-message">Player1: 파이팅 해봐요</div>
        <input type="text" class="input-box" placeholder="메세지를 입력해주세요...">
      </div>
  
      <div class="ranking">
        <h3>현재 순위</h3>
        <ul class="ranking-list">
          <li>Player1 - 100</li>
          <li>Player2 - 90</li>
          <li>Player3 - 80</li>
          <li>Player4 - 70</li>
        </ul>
      </div>
    </div>
  </div>

  <script src="/javascripts/gameRoom.js"></script>
</body>
</html>
