<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>  
    <div class="login-container">
        <img class="title-logo" src="/images/logo.png" />
        <form class="login-form">
            <input type="text" name="userid" placeholder="Enter your ID" class="login-input" required>
            <input type="password" name="password" placeholder="Enter your Password" class="login-input" required>
            <div class="button-container">
                <button type="submit" class="login-button">LOGIN</button>
                <a href="/signup.html" class="signup-button">SIGN UP</a>
            </div>
        </form>
    </div>
    <script src="/javascripts/login.js"></script>
</body>
</html>
