<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최종 순위</title>
    <link rel="stylesheet" href="stylesheets/ranking.css">
</head>

<body>
    <h1 class="title">최종 순위</h1>
    <div class="ranking-container">
        <table class="ranking-table">
            <thead>
                <tr class="head">
                    <th>닉네임</th>
                    <th>맞힌 문제</th>
                    <th>점수</th>
                    <th>순위</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>김태민</td>
                    <td>4 문제</td>
                    <td>40점</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>문창원</td>
                    <td>3 문제</td>
                    <td>30점</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>이재근</td>
                    <td>2 문제</td>
                    <td>20점</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>박규동</td>
                    <td>1 문제</td>
                    <td>10점</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>